.row{
    margin-top: 20%;
}

input{
    height: 60px;
    width: 100%;
    

    
}

.input-border{
    border:2px solid blue;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
}