<div class="container">
   <div class="row px-2 mx-2">
   
    <div id="btarget" class="col-md-12 ">
        <span class="text-place" hidden id="text">Email or phone</span>
        <input type="text" name="email" class="form-control" (click)="loadInputBorder()" placeholder="Email or phone" id="input">

    </div>

    <div>
        <a id="emailLink"  style="text-decoration: none;" routerLink="../forgot-email">Forgot Email?</a>
    </div>

    <div class="mt-3" style="font-size: 20px;">
        Not your computer? Use Guest mode to sign in privately. <br>
        <a class="link" href="https://support.google.com/chrome/answer/6130773?hl=en" style="text-decoration: none;">Learn more about using Guest mode</a>
    </div>

    <div class="mt-5 sec2">
            <a  href="" class="bt" style="text-decoration: none; font-size: 18px;height: 40px;"> Create account</a>
            <a class="btn" >Next</a>
    </div>
   </div>
</div>