<div class="container ">
    <div class="row px-2 mx-2">
    
     <div id="btarget" class="col-md-12 " >
         <span class="text-place" hidden id="text">Email or phone</span>
         <input type="text" name="email" class="form-control" (click)="loadInputBorder()" placeholder="Email or phone" id="input">
 
     </div>
 
     
    </div>

    <div class="footer mx-4">
        <a class="btn" >Next</a>
    </div>
 </div>

 <!-- <div id="namesec" class="section-1">
    <div class="row px-2 mx-2">
    
        <div id="btarget" class="col-md-12 " >
            <span class="text-place" hidden id="text">Email or phone</span>
            <input type="text" name="email" class="form-control" (click)="loadInputBorder()" placeholder="Email or phone" id="input">
    
        </div>
    
        
       </div>
 </div> -->